<html>
<head>
    <title>TweetYourCode</title>
    <script type="text/javascript" src="/js/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
    <h1>Tweet your Code</h1>
    <form action='/download' method=post>
        <select id='language' name='language'>
          <option value="python">Python</option>
          <option value="javascript">Javascript</option>
        </select>
        <textarea name='text' id='code_text' name=text rows=5 cols=40></textarea>
        <button id='preview'>Preview</button>
        <button id='download'>Download</button>
    </form>
    <div id='preview_img'></div>
</body>
</html>
